--
-- PostgreSQL database dump
--

\restrict ssoSR15huEQAJPuynSjESwuHqRioFMrRMo82cfaTXSNRCYB8tjSH5CBOLzWO3GC

-- Dumped from database version 16.12
-- Dumped by pg_dump version 16.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: inventory_records_status_enum; Type: TYPE; Schema: public; Owner: tc_admin
--

CREATE TYPE public.inventory_records_status_enum AS ENUM (
    'active',
    'sold_out',
    'expired',
    'closed'
);


ALTER TYPE public.inventory_records_status_enum OWNER TO tc_admin;

--
-- Name: users_role_enum; Type: TYPE; Schema: public; Owner: tc_admin
--

CREATE TYPE public.users_role_enum AS ENUM (
    'admin',
    'seller',
    'buyer'
);


ALTER TYPE public.users_role_enum OWNER TO tc_admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: daily_sales; Type: TABLE; Schema: public; Owner: tc_admin
--

CREATE TABLE public.daily_sales (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    seller_id uuid NOT NULL,
    sale_date date DEFAULT ('now'::text)::date NOT NULL,
    total_investment numeric(10,2) NOT NULL,
    total_revenue numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    total_profit numeric(10,2) NOT NULL,
    profit_margin numeric(5,2),
    units_sold integer DEFAULT 0 NOT NULL,
    units_lost integer DEFAULT 0 NOT NULL,
    is_closed boolean DEFAULT false NOT NULL,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.daily_sales OWNER TO tc_admin;

--
-- Name: inventory_records; Type: TABLE; Schema: public; Owner: tc_admin
--

CREATE TABLE public.inventory_records (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    seller_id uuid NOT NULL,
    product_id uuid NOT NULL,
    record_date date DEFAULT ('now'::text)::date NOT NULL,
    quantity_initial integer NOT NULL,
    quantity_remaining integer DEFAULT 0 NOT NULL,
    investment_amount numeric(10,2) NOT NULL,
    status public.inventory_records_status_enum DEFAULT 'active'::public.inventory_records_status_enum NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.inventory_records OWNER TO tc_admin;

--
-- Name: products; Type: TABLE; Schema: public; Owner: tc_admin
--

CREATE TABLE public.products (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    seller_id uuid NOT NULL,
    name character varying(200) NOT NULL,
    description text,
    unit_cost numeric(10,2) NOT NULL,
    sale_price numeric(10,2) NOT NULL,
    is_perishable boolean DEFAULT false NOT NULL,
    shelf_life_days integer,
    image_url character varying(500),
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.products OWNER TO tc_admin;

--
-- Name: sale_details; Type: TABLE; Schema: public; Owner: tc_admin
--

CREATE TABLE public.sale_details (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    daily_sale_id uuid NOT NULL,
    product_id uuid NOT NULL,
    quantity_prepared integer NOT NULL,
    quantity_sold integer DEFAULT 0 NOT NULL,
    quantity_lost integer DEFAULT 0 NOT NULL,
    unit_cost numeric(10,2) NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.sale_details OWNER TO tc_admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: tc_admin
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    phone character varying(20),
    avatar_url character varying(500),
    role public.users_role_enum DEFAULT 'seller'::public.users_role_enum NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    is_email_verified boolean DEFAULT false NOT NULL,
    last_login_at timestamp with time zone,
    login_count integer DEFAULT 0 NOT NULL,
    failed_login_attempts integer DEFAULT 0 NOT NULL,
    locked_until timestamp with time zone,
    password_changed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO tc_admin;

--
-- Name: products PK_0806c755e0aca124e67c0cf6d7d; Type: CONSTRAINT; Schema: public; Owner: tc_admin
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "PK_0806c755e0aca124e67c0cf6d7d" PRIMARY KEY (id);


--
-- Name: inventory_records PK_3ff956aeca9d49f3e8bcd6879f7; Type: CONSTRAINT; Schema: public; Owner: tc_admin
--

ALTER TABLE ONLY public.inventory_records
    ADD CONSTRAINT "PK_3ff956aeca9d49f3e8bcd6879f7" PRIMARY KEY (id);


--
-- Name: users PK_a3ffb1c0c8416b9fc6f907b7433; Type: CONSTRAINT; Schema: public; Owner: tc_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433" PRIMARY KEY (id);


--
-- Name: sale_details PK_a8e8b6d243f38e3587378d401f5; Type: CONSTRAINT; Schema: public; Owner: tc_admin
--

ALTER TABLE ONLY public.sale_details
    ADD CONSTRAINT "PK_a8e8b6d243f38e3587378d401f5" PRIMARY KEY (id);


--
-- Name: daily_sales PK_cf9dc0d8b7ab71004272e50025d; Type: CONSTRAINT; Schema: public; Owner: tc_admin
--

ALTER TABLE ONLY public.daily_sales
    ADD CONSTRAINT "PK_cf9dc0d8b7ab71004272e50025d" PRIMARY KEY (id);


--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: tc_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- Name: sale_details FK_05fa629e58f9e0450376dd35052; Type: FK CONSTRAINT; Schema: public; Owner: tc_admin
--

ALTER TABLE ONLY public.sale_details
    ADD CONSTRAINT "FK_05fa629e58f9e0450376dd35052" FOREIGN KEY (daily_sale_id) REFERENCES public.daily_sales(id) ON DELETE CASCADE;


--
-- Name: daily_sales FK_14ce4e5ce0c93b25ccd4a6c2a98; Type: FK CONSTRAINT; Schema: public; Owner: tc_admin
--

ALTER TABLE ONLY public.daily_sales
    ADD CONSTRAINT "FK_14ce4e5ce0c93b25ccd4a6c2a98" FOREIGN KEY (seller_id) REFERENCES public.users(id);


--
-- Name: inventory_records FK_223b2eed6ea584d71ee2a6fb395; Type: FK CONSTRAINT; Schema: public; Owner: tc_admin
--

ALTER TABLE ONLY public.inventory_records
    ADD CONSTRAINT "FK_223b2eed6ea584d71ee2a6fb395" FOREIGN KEY (seller_id) REFERENCES public.users(id);


--
-- Name: inventory_records FK_2e1c941e31b8c9e182c29b0bb33; Type: FK CONSTRAINT; Schema: public; Owner: tc_admin
--

ALTER TABLE ONLY public.inventory_records
    ADD CONSTRAINT "FK_2e1c941e31b8c9e182c29b0bb33" FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: products FK_425ee27c69d6b8adc5d6475dcfe; Type: FK CONSTRAINT; Schema: public; Owner: tc_admin
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "FK_425ee27c69d6b8adc5d6475dcfe" FOREIGN KEY (seller_id) REFERENCES public.users(id);


--
-- Name: sale_details FK_ff07d1ac574d56390cf66820fae; Type: FK CONSTRAINT; Schema: public; Owner: tc_admin
--

ALTER TABLE ONLY public.sale_details
    ADD CONSTRAINT "FK_ff07d1ac574d56390cf66820fae" FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT USAGE ON SCHEMA public TO tc_admin;
GRANT USAGE ON SCHEMA public TO tc_app;
GRANT USAGE ON SCHEMA public TO tc_readonly;


--
-- Name: TABLE daily_sales; Type: ACL; Schema: public; Owner: tc_admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.daily_sales TO tc_app;
GRANT SELECT ON TABLE public.daily_sales TO tc_readonly;


--
-- Name: TABLE inventory_records; Type: ACL; Schema: public; Owner: tc_admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.inventory_records TO tc_app;
GRANT SELECT ON TABLE public.inventory_records TO tc_readonly;


--
-- Name: TABLE products; Type: ACL; Schema: public; Owner: tc_admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.products TO tc_app;
GRANT SELECT ON TABLE public.products TO tc_readonly;


--
-- Name: TABLE sale_details; Type: ACL; Schema: public; Owner: tc_admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.sale_details TO tc_app;
GRANT SELECT ON TABLE public.sale_details TO tc_readonly;


--
-- Name: TABLE users; Type: ACL; Schema: public; Owner: tc_admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.users TO tc_app;
GRANT SELECT ON TABLE public.users TO tc_readonly;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: tc_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE tc_admin IN SCHEMA public GRANT SELECT,USAGE ON SEQUENCES TO tc_app;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: tc_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE tc_admin IN SCHEMA public GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES TO tc_app;
ALTER DEFAULT PRIVILEGES FOR ROLE tc_admin IN SCHEMA public GRANT SELECT ON TABLES TO tc_readonly;


--
-- PostgreSQL database dump complete
--

\unrestrict ssoSR15huEQAJPuynSjESwuHqRioFMrRMo82cfaTXSNRCYB8tjSH5CBOLzWO3GC

